body {
    text-align: center;
}

main, footer, #photocoach, form  {
    margin-top: 30px;
}

header {
    background-color: #F2F1EF
}

.nav-item {
    padding-left: 2%;
}

footer {
    background-color: grey;
    text-align: left;
}

.test {
    width: 200px;
    margin: 0 auto;
}

h2 {
    margin: auto;
}

.footerlinks {
    color: #F2F1EF;
}

.linkscard {
    margin: 5px;
}

.douzemois {
    background-color: #595ca1;
}

.sixmois {
    background-color: #B464A3;
}

.troismois {
    background-color: #7BC6C6;
}

.unmois {
    background-color: #CA4477;
}

.soustext {
    background-color: #404040;
}

h4 {
    margin: 0;
    padding: 0;
}

.groupcard {
    margin-top: 20px;
}