body {
    text-align: center;
}

main, footer, #photocoach, form {
    margin-top: 30px;
}

header {
    background-color: #F2F1EF
}

.nav-item {
    padding-left: 2%;
}

footer {
    background-color: grey;
    text-align: left;
    margin-top: 30px;
}

.test {
    width: 200px;
    margin: 0 auto;
}

h2 {
    margin: auto;
}

#photocoach {
    margin-top: 30px;
}

